<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">View Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sint
        facilis laborum. Repudiandae quae hic sint nihil tenetur optio facere
        eos impedit. Eveniet veniam, placeat consequatur maxime nihil quidem?
        Amet?
      </p>
    </div>
  </div>
</div>

<!-- Contact Details -->
<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <img
        class="contact-img-big"
        src="http://assets.stickpng.com/images/585e4bcdcb11b227491c3396.png"
        alt=""
      />
    </div>
    <div class="col-md-4 mt-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          Name: <span class="fw-bold">Name</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Email: <span class="fw-bold">Email</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Mobile: <span class="fw-bold">Mobile</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Company: <span class="fw-bold">Company</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Title: <span class="fw-bold">Title</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Group: <span class="fw-bold">Group</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <a routerLink="/" class="btn btn-danger"
        ><i class="fa fa-arrow-alt-circle-left me-2"></i>Back</a
      >
    </div>
  </div>
</div>
