<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Update Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
        excepturi? Accusantium, fugit in culpa alias magnam nam explicabo iste
        obcaecati iure unde ipsa ut maiores laborum nesciunt sequi eligendi
        quaerat!
      </p>
    </div>
  </div>
</div>

<!-- Update Contact Form -->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo Url" />
        </div>
        <div class="mb-2">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-2">
          <input type="number" class="form-control" placeholder="Mobile" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Company" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option value="">Select a Group</option>
          </select>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="btn btn-danger"
            value="Update"
            type="submit"
          />
          <a routerLink="/" class="btn btn-dark ms-2">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        class="contact-img"
        src="http://assets.stickpng.com/images/585e4bcdcb11b227491c3396.png"
        alt=""
      />
    </div>
  </div>
</div>
