<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
        excepturi? Accusantium, fugit in culpa alias magnam nam explicabo iste
        obcaecati iure unde ipsa ut maiores laborum nesciunt sequi eligendi
        quaerat!
      </p>
    </div>
  </div>
</div>

<!-- <pre>{{ groups | json }}</pre> -->

<!--  Loading Spinner -->
<div *ngIf="loading"><app-loading-spinner></app-loading-spinner></div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Create Contact Form -->

<pre>{{ contact | json }}</pre>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form ngNativeValidate (submit)="createSubmit()">
        <div class="mb-2">
          <input
            [(ngModel)]="contact.name"
            name="name"
            type="text"
            class="form-control"
            placeholder="Name"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.photo"
            name="photo"
            type="text"
            class="form-control"
            placeholder="Photo Url"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.email"
            name="email"
            type="email"
            class="form-control"
            placeholder="Email"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.mobile"
            name="mobile"
            type="number"
            class="form-control"
            placeholder="Mobile"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.company"
            name="company"
            type="text"
            class="form-control"
            placeholder="Company"
            required="true"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.title"
            name="title"
            type="text"
            class="form-control"
            placeholder="Title"
            required="true"
          />
        </div>
        <div class="mb-2">
          <select
            [(ngModel)]="contact.groupId"
            name="groupId"
            *ngIf="!loading && groups.length > 0"
            class="form-control"
            required="true"
          >
            <option value="undefined" selected disabled>Select a Group</option>
            <option [value]="group.id" *ngFor="let group of groups">
              {{ group.name }}
            </option>
          </select>
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="btn btn-danger"
            value="Create"
            type="submit"
          />
          <a routerLink="/" class="btn btn-dark ms-2">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        *ngIf="contact.photo"
        class="contact-img"
        [src]="contact.photo"
        [alt]="contact.name"
      />
    </div>
  </div>
</div>
